    @import "common.scss";
    @import "_mixin.scss";
    .wrapper {
        width: 100%;
        height: 100%;
        @include box_flex;
        @include direction(column);
    }
    
    header {
        width: 100%;
        height: auto;
        @include box_flex;
        @include justify(space-between);
        @include align;
        font-size: pxTorem(18px);
        img {
            width: 100%;
            height: auto;
        }
    }
    
    section {
        width: 100%;
        flex: 1;
        overflow: auto;
        .conter {
            width: 100%;
            height: auto;
            @include box_flex;
            flex-wrap: wrap;
            dl {
                width: 25%;
                height: auto;
                text-align: center;
                dd {
                    img {
                        width: pxTorem(65px);
                        height: pxTorem(65px);
                    }
                }
                dt {
                    color: #ccc;
                }
            }
        }
        h2 {
            width: 100%;
            line-height: pxTorem(30px);
            padding-left: pxTorem(15px);
            @include sizing;
            font-size: pxTorem(18px);
        }
        .perfect {
            width: 100%;
            @include box-flex;
            @include flexWrap(wrap);
            @include justify(space-around);
            dl {
                width: pxTorem(100px);
                height: pxTorem(150px);
                margin-top: pxTorem(15px);
                dt {
                    width: 100%;
                    height: pxTorem(100px);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                dd {
                    width: 100%;
                    line-height: pxTorem(25px);
                    p {
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: clip;
                    }
                }
            }
        }
        .main {
            width: 100%;
            height: pxTorem(200px);
            .top {
                padding: 0 pxTorem(15px);
                @include sizing;
                width: 100%;
                @include box_flex;
                @include align;
                height: pxTorem(50px);
                font-size: pxTorem(16px);
            }
            .div {
                padding-left: pxTorem(15px);
                @include sizing;
                width: 100%;
                overflow-x: scroll;
                height: pxTorem(150px);
                @include box_flex;
                //  @include flex;
                dl {
                    flex-shrink: 0;
                    @include box_flex;
                    @include direction(column);
                    @include align;
                    @include justify;
                    width: pxTorem(90px);
                    height: pxTorem(150px);
                    dt {
                        width: 90%;
                        height: 70%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    dd {
                        @include box_flex;
                        @include align;
                        @include justify;
                        p {
                            font-size: pxTorem(14px);
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: clip;
                        }
                    }
                }
            }
        }
    }
    
    footer {
        width: 100%;
        height: pxTorem(50px);
        @include box_flex;
        @include justify(space-around);
        @include align;
        border-top: 1px solid #ccc;
        padding-top: pxTorem(5px);
        box-sizing: border-box;
        dl {
            >img {
                width: pxTorem(40px);
                height: pxTorem(40px);
            }
            dt {
                text-align: center;
                img {
                    width: pxTorem(20px);
                    height: pxTorem(20px);
                }
            }
            dd {
                font-size: pxTorem(14px);
            }
        }
    }