@import "common.scss";
@import "_mixin.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(44px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    font-size: pxTorem(18px);
}

section {
    width: 100%;
    flex: 1;
    overflow: auto;
}

footer {
    width: 100%;
    height: pxTorem(50px);
    @include box_flex;
    @include justify(space-around);
    @include align;
    border-top: 1px solid #ccc;
    padding-top: pxTorem(5px);
    box-sizing: border-box;
    dl {
        >img {
            width: pxTorem(40px);
            height: pxTorem(40px);
        }
        dt {
            text-align: center;
            img {
                width: pxTorem(20px);
                height: pxTorem(20px);
            }
        }
        dd {
            font-size: pxTorem(14px);
        }
    }
}